<div>
<h2><%= @survey.name %><h2>
<%= form_with url: "/survey/vote" do |form| %>
<div class="container">
    <% @survey.answers.each do |answer| %>
        <div class="mt-4">
            <div class="form-check">
                <div class="col col-2">
                    <%= form.radio_button("answer_id", answer.id, class: "form-check-input") %>
                </div>
                <div class="col">
                    <%= form.label("answer_id_#{answer.id}", answer.text, { class: "form-check-label fs-5" }) %>
                </div>
            </div>
        </div>
    <% end %>
    </div>
    <button class="btn btn-primary mt-4" type="submit" >Submit</button>
<% end %>
</div>