<div>
<h2><%= @survey.name %><h2>
<%= form_with url: "/survey/vote" do |form| %>
<div class="row">
    <% @survey.answers.each do |answer| %>
        <article>
            <div class="row">
                <%= form.radio_button("answer_id", answer.id) %>
                <%= form.label("answer_id_#{answer.id}", answer.text) %>
            </div>
        </article>
    <% end %>
    </div>
    <button type="submit" >Submit</button>
<% end %>
</div>